[user]
	email = youssefbouzekri@protonmail.com
	name = YoussefBouzekri
[core]
	editor = emacs
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
